:root
{
    --accent-color: lawngreen;
    --text-color: white;
    --container-background: #333;
    --hover-link-background: #666;
}

*
{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: sans-serif;
}

#particles-js
{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
}

.contenedor
{
    background-color: var(--container-background);
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 12px;
}

.portada
{
    text-align: center;
}

.portada img
{
    border-radius: 100%;
}

.portada h1
{
    box-sizing: content-box;
    padding: 5px;
}

.contenedor hr
{
    border-color: var(--accent-color);
    border-width: 5px;
    border-style: solid;
    margin-bottom: 12px;
}

.contenedor-enlaces a
{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 5px;

    transition-property: background-color, border-left-width, border-right-width;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
}

.contenedor-enlaces a:hover
{
    background-color: var(--hover-link-background);
    border-width: 0px;
    border-style: solid;
    border-left-width: 12px;
    border-right-width: 12px;
    border-color: var(--accent-color);
}